$mobile = 660px;
$tablets = 992px;
$laptops = 1200px;

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

[class*='col-'] {
	box-sizing: border-box;
}

.flex-grow {
	flex-grow: 1;
}

.flex-container > [class*='col-']:last-child {
	margin-right: auto;
}

$oneColSize = 8.333333%;
@media screen and (max-width: $mobile)

	for colNumber in (1..12)
		.col-xs-{colNumber}
			-ms-flex 0 0 colNumber *$oneColSize;
			flex: 0 0 colNumber *$oneColSize;
			max-width colNumber *$oneColSize;
		.col-xs-offset-{colNumber}
			margin-left colNumber *$oneColSize

	.column-xs
		justify-content: space-between;
		flex-direction: column

	.column-reverse-xs
		flex-direction: column-reverse;

	.row-reverse-xs
		flex-direction: row-reverse;

	.hidden-xs
		display none !important

@media screen and (min-width: $mobile ) and (max-width: $tablets)
	for colNumber in (1..12)
		.col-sm-{colNumber}
			-ms-flex 0 0 colNumber *$oneColSize;
			flex: 0 0 colNumber *$oneColSize;
			max-width colNumber *$oneColSize;
		.col-sm-offset-{colNumber}
			margin-left colNumber *$oneColSize

	.column-sm
		justify-content: space-between;
		flex-direction: column

	.column-reverse-sm
		flex-direction: column-reverse;

	.row-reverse-sm
		flex-direction: row-reverse;

	.hidden-sm
		display none !important

@media screen and (min-width: $tablets) and (max-width: $laptops)
	for colNumber in (1..12)
		.col-md-{colNumber}
			-ms-flex 0 0 colNumber *$oneColSize;
			flex: 0 0 colNumber *$oneColSize;
			max-width colNumber *$oneColSize;
		.col-md-offset-{colNumber}
			margin-left colNumber *$oneColSize

	.column-md
		justify-content: space-between;
		flex-direction: column

	.column-reverse-md
		flex-direction: column-reverse;

	.row-reverse-md
		flex-direction: row-reverse;

	.hidden-md
		display none !important

@media screen and  (min-width: $laptops)
	for colNumber in (1..12)
		.col-lg-{colNumber}
			-ms-flex 0 0 colNumber *$oneColSize;
			flex: 0 0 colNumber *$oneColSize;
			max-width colNumber *$oneColSize;
		.col-lg-offset-{colNumber}
			margin-left colNumber *$oneColSize

	.column-lg
		justify-content: space-between;
		flex-direction: column

	.column-reverse-lg
		flex-direction: column-reverse;

	.row-reverse-lg
		flex-direction: row-reverse;

	.hidden-lg
		display none !important
