$btnDefaultBGColor = #e6e6e6;

.btn
	width 100%
	min-width 190px
	cursor pointer
	text-align center
	color $textColor
	min-height 48px
	height 100%;
	display flex
	justify-content center
	align-items center
	text-transform uppercase
	font-size 1rem
	position relative
	> span
		position relative
		z-index 1
	&-default
		background transparent
		border 1px solid $btnDefaultBGColor;
		font-weight 600
		&:before
			content ''
			display block
			width 100%
			height 100%
			background-color $btnDefaultBGColor
			position absolute
			top 0
			left 0
			z-index 0
			-webkit-font-smoothing antialiased
			transform scaleY(0)
			transform-origin center top
			transition transform 0.2s ease-in
		&:hover::before
			transform-origin center bottom
			transform scaleY(1)



