$asimetricLayoutMargin = 84px;
.main-paragraph
  position relative
  padding-top 1.2rem
  height 10rem
  > h1
    transition transform $defaultAnimationDelay
    position absolute
    top -4rem
    transform translateY(5rem)
    font-weight normal
    font-size 3.5rem

.main-baner
  position relative
  margin-bottom 5rem
  &:before
    top 40%

.main-baner-link
  display block
  position absolute
  top 14%
  font-size 0.9rem
  z-index 2
  padding 0.2rem 0.2rem 0.6rem
  overflow hidden
  color $linkColor
  &_text
    display block
  &_underline
    display block
    width 100%
    height 3px
    background-color $linkColor
    position absolute
    bottom 0
    left 0
    transition transform 0.5s
    transform translateX(-100%)
  &:hover
    .main-baner-link_underline
      transform translateX(0)

.content-grid
  position relative

.content-item-wrapper
  &:nth-child(odd)
    padding-right .5rem
  &:nth-child(even)
    padding-left .5rem

.content-item
  margin 1rem 0
  cursor pointer
  transition box-shadow 0.3s, transform 0.3s
  width 100%
  &:hover
    box-shadow 2px 8px 20px 0 rgba(31, 32, 68, .25);
    transform scale(1.02, 1.02)
  > .image
    margin 0 auto
  &_footer
    display flex
    padding 1.3rem
  &_icon
    flex 1 1 10%
    display flex
    align-items center

  &_tittle
    flex 1 1 90%
    padding-left 1.2rem
    &-head
      font-weight 600
      font-size 0.9rem
      text-transform uppercase
      opacity .6
      color $textColor
    &-content
      font-weight 400
      font-size 1.5rem

.pagination-control
  display flex

.load-more
  width auto
  margin 2rem auto

.asymmetric-background
  &_black
    &:before
      background #000
  &_white
    &:before
      background #FFF
  &:before
    content ''
    width 100vw
    height 100%
    position absolute
    right 0
    bottom 0
    margin-right $asimetricLayoutMargin
    transform translateX(10%)
    z-index -1

