.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
[class*='col-'] {
	box-sizing: border-box;
}

.flex-grow {
	flex-grow: 1;
}
@media screen and (max-width: 768px) {
	.col-xs-1   {  flex: 0 0 8.333333333333334%   }
	.col-xs-2   {  flex: 0 0 16.666666666666668%  }
	.col-xs-3   {  flex: 0 0 25%                  }
	.col-xs-4   {  flex: 0 0 33.333333333333336%  }
	.col-xs-5   {  flex: 0 0 41.66666666666667%   }
	.col-xs-6   {  flex: 0 0 50%                  }
	.col-xs-7   {  flex: 0 0 58.333333333333336%  }
	.col-xs-8   {  flex: 0 0 66.66666666666667%   }
	.col-xs-9   {  flex: 0 0 75%                  }
	.col-xs-10  {  flex: 0 0 83.33333333333334%   }
	.col-xs-11  {  flex: 0 0 91.66666666666667%   }
	.col-xs-12  {  flex: 0 0 100%                 }
	.column-xs {
		justify-content: space-between;
		flex-direction: column
	}
	.column-reverse-xs {
		flex-direction: column-reverse;
	}
	.row-reverse-xs {
		flex-direction: row-reverse;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.col-sm-1   {  flex: 0 0 8.333333333333334%   }
	.col-sm-2   {  flex: 0 0 16.666666666666668%  }
	.col-sm-3   {  flex: 0 0 25%                  }
	.col-sm-4   {  flex: 0 0 33.333333333333336%  }
	.col-sm-5   {  flex: 0 0 41.66666666666667%   }
	.col-sm-6   {  flex: 0 0 50%                  }
	.col-sm-7   {  flex: 0 0 58.333333333333336%  }
	.col-sm-8   {  flex: 0 0 66.66666666666667%   }
	.col-sm-9   {  flex: 0 0 75%                  }
	.col-sm-10  {  flex: 0 0 83.33333333333334%   }
	.col-sm-11  {  flex: 0 0 91.66666666666667%   }
	.col-sm-12  {  flex: 0 0 100%                 }
	.column-sm {
		justify-content: space-between;
		flex-direction: column
	}
	.column-reverse-sm {
		flex-direction: column-reverse;
	}
	.row-reverse-sm {
		flex-direction: row-reverse;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.col-md-1   {  flex: 0 0 8.333333333333334%   }
	.col-md-2   {  flex: 0 0 16.666666666666668%  }
	.col-md-3   {  flex: 0 0 25%                  }
	.col-md-4   {  flex: 0 0 33.333333333333336%  }
	.col-md-5   {  flex: 0 0 41.66666666666667%   }
	.col-md-6   {  flex: 0 0 50%                  }
	.col-md-7   {  flex: 0 0 58.333333333333336%  }
	.col-md-8   {  flex: 0 0 66.66666666666667%   }
	.col-md-9   {  flex: 0 0 75%                  }
	.col-md-10  {  flex: 0 0 83.33333333333334%   }
	.col-md-11  {  flex: 0 0 91.66666666666667%   }
	.col-md-12  {  flex: 0 0 100%                 }
	.column-md {
		justify-content: space-between;
		flex-direction: column
	}
	.column-reverse-md {
		flex-direction: column-reverse;
	}
	.row-reverse-md {
		flex-direction: row-reverse;
	}
}
@media screen and  (min-width: 1200px) {
	.col-lg-1   {  flex: 0 0 8.333333333333334%   }
	.col-lg-2   {  flex: 0 0 16.666666666666668%  }
	.col-lg-3   {  flex: 0 0 25%                  }
	.col-lg-4   {  flex: 0 0 33.333333333333336%  }
	.col-lg-5   {  flex: 0 0 41.66666666666667%   }
	.col-lg-6   {  flex: 0 0 50%                  }
	.col-lg-7   {  flex: 0 0 58.333333333333336%  }
	.col-lg-8   {  flex: 0 0 66.66666666666667%   }
	.col-lg-9   {  flex: 0 0 75%                  }
	.col-lg-10  {  flex: 0 0 83.33333333333334%   }
	.col-lg-11  {  flex: 0 0 91.66666666666667%   }
	.col-lg-12  {  flex: 0 0 100%                 }
	.column-lg {
		justify-content: space-between;
		flex-direction: column
	}
	.column-reverse-lg {
		flex-direction: column-reverse;
	}
	.row-reverse-lg {
		flex-direction: row-reverse;
	}
}