@require "variables.styl";

.page-header
  display flex
  padding-top 40px
  min-height: 120px
  justify-content space-between

.toggle-menu-btn
  display none

.logo-container
  flex 0 0 30%
  display flex
  flex-direction column
  justify-content center

.logo
  width 50%
  max-width 110px
  > a
    color $textColor
  path
    fill $textColor

.logo-text-large > a
  display block
  height 18px

.logo-text-small
  padding-top 0.5rem
  font-size 1rem

.page-menu-container
  flex 0 0 40%
  display flex
  align-items center
  justify-content flex-end

.page-menu
  display flex
  justify-content space-between

.page-menu-items
  display flex

.page-menu-items > a
  padding 1rem;
  color $textColor

.page-menu-items:last-child > a
  padding-right 0